{% extends 'index.html' %}
 
{%block content%}
{%import "_macros.html" as macros%}
<h1>Formula para Calucular la distacian entre dos Puntos</h1>
 
<form action="", method="POST">
    {{macros.input_Form(form.x1, class="form-control")}}
    {{macros.input_Form(form.y1, class="form-control")}}
    {{macros.input_Form(form.x2, class="form-control")}}  
    {{macros.input_Form(form.y2, class="form-control")}}  
    <input type="submit" name="btn1">
</form>
 
 
<h1>Resultado: {{result}}</h1>
 
{%endblock%}
